/* tags */
body { background: url(images/simple_dashed.png); font: 1.3rem Inconsolata, monospace; text-shadow: 0 0 4px green; }

.description {padding-left: 2%;}
.works {padding-left: 2%;}

marquee {color: green}
p { word-wrap: break-word; color:green;}
a { color:green; text-decoration: none; }
h1 { color:green;}
h2 { color:green;}
h3 { color:green;}

ul {   list-style: none; }
li:before { content: '> '; color: green;}

/* MAIN DIVS */
.content {max-width: 900px; padding: 10px; margin: auto; }

.pagesize { width: 32%; min-width: 200px; margin: 0 auto;}

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////MOBILE /////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen and (max-width: 699px) {
    .CoverImage{width: 100%;}
    .translatecoverimage { transform: translate(0px,20px); margin-top: -10px; }
    .pagesize { width: 100%;}
    .TitleName { width: 100%; font-size: 45px; margin-top: 30px; margin-bottom: 30px;}
}
