#instafeed{ height: 100%; overflow: hidden;}
.centermargin { margin-left: -50%; }
.section {  }
.insta { height: 300px; }
#youtubecontainer { overflow: hidden; }


.sociallink	 {
	text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.sociallinkicon { 
	margin-top: 50%;
	transition: all .7s ease;
    
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
.sociallinkicon:hover { -webkit-transform: rotateZ(40deg); transform: rotateZ(40deg);}

@media (min-width: 992px) { 
	.section {height: 300px;}
}